.dial {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dial ellipse {
    fill: #d8d2d2;
}

.dial line {
    stroke: #4e4e4e;
    stroke-width: 2px;
}