body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ul {
    list-style-type: none;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px dashed lightgrey;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 20px;
    height: 20px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 20px;
}

button[value="O"]{
    background: blue;
    font-size: 0px;
}

button[value = "H"]{
    background: darkblue;
    font-size: 0px;
}


button[value="F"]{
    background: saddlebrown;
    font-size: 0px;
}

button[value = "D"]{
    background: crimson;
    font-size: 0px;
}

button[value = "DH"]{
    background: darkred;
    font-size: 0px;
}

button[value = "DYN"]{
    background: orangered;
    font-size: 8px;
}

button[value = "BOOM"]{
    background: orangered;
    font-size: 6px;

}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}
